span
{

   background-color:Gray;
   float:left;
   border-style:inset;
   color:Black;
  
}

h4
{
   
   color:White; 
}

.parallelogram {
	width: 150px;
	height: 100px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: red;
}

body { 
  background: url('../images/signup.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
    
legend
{
    color:White;
}

.container {
  border-collapse: separate;
  border-spacing:0 5px;
  -moz-border-radius: 15px;
   border-radius: 15px;
  border: 20px solid rgba(0, 0, 0, 0.8);
  content: " ";
  z-index: 10;
  display: block;
  /*position: absolute;*/
  height:100%;
  background:rgba(0, 0, 0, 0.8);
  width:50%;
  margin-top:100px;
}



.well
{
    padding:2px;
    background-color:rgba(219,85,85,0.8);
   
}

span
{
    padding:2px;
    background-color:rgba(219,85,85,0.8);
   
}