<div ng-controller="LoginController" class="container center-block">


 <form name="frm" >
    <legend>Login</legend>

     <div class="form-group">
       <input type="email"  placeholder="Email" class="form-control" name="email" ng-model="user.email" required />
       <span  class="well" ng-show="frm.email.$dirty && frm.email.$error.required">Email is required</span>
       <span class="well" ng-show="frm.email.$dirty && frm.email.$error.email">Not a valid email</span>
     </div>

     <br />
     <br />
      <div class="form-group">
       <input type="password" placeholder="Enter a password between 8 and 20 chars" class="form-control" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="10" required />
       <br />
       <span class="well" ng-show="frm.password.$dirty && frm.password.$error.required">Password is required</span>
       <span class="well" ng-show="frm.password.$dirty && frm.password.$error.minlength">Too Short!</span>
       <span class="well" ng-show="frm.password.$dirty && frm.password.$error.maxlength">Too Long!</span>
     </div> 

     <h3 ng-if="invalid">Wrong email and password combination</h3>

     <div class="form-group">
     <br />
     <br />
     <button ng-disabled="frm.$invalid" ng-click="login(user)" class="btn btn-primary">Log On</button>
    
     </div>
    </form>

     <div id="overlay-for-contacts">
            <div id="overlay-for-contacts-inside">
            <p class="info">{{comic-status}}</p>
            <button type="button" class="button closebutton" id="<?php echo $id?>" value="Close">Close</button>
            </div>
        </div>

</div>
