<div class="container center-block" ng-controller = "SignUpController">
   <form name="frm" >
    <legend>Sign Up!</legend>
    <div class="form-group">
       <input placeholder="First Name" class="form-control" name="fname" ng-model="user.fname" required />
       <span ng-show="frm.fname.$dirty && frm.fname.$error.required">First Name is required</span>
    </div>
    <br />


     <div class="form-group">
       <input placeholder="Last Name" class="form-control" name="lname" ng-model="user.lname" required />
       <span  ng-show="frm.lname.$dirty && frm.lname.$error.required">Last name is required</span>
    </div>
    <br />


     <div class="form-group">
       <input type="email"  placeholder="Email" class="form-control" name="email" ng-model="user.email" required />
       <span   ng-show="frm.email.$dirty && frm.email.$error.required">Email is required</span>
       <span  ng-show="frm.email.$dirty && frm.email.$error.email">Not a valid email</span>
     </div>

     <br />
      <div class="form-group">
       <input type="password" placeholder="Enter a password between 8 and 20 chars" class="form-control" name="password" ng-model="user.password" ng-minlength="5" ng-maxlength="15" required />
       <br />
       <span  ng-show="frm.password.$dirty && frm.password.$error.required">Password is required</span>
       <span ng-show="frm.password.$dirty && frm.password.$error.minlength">Too Short!</span>
       <span  ng-show="frm.password.$dirty && frm.password.$error.maxlength">Too Long!</span>
     </div> 

     <div class="form-group">
     <br />
     <br />
     <button ng-disabled="frm.$invalid" ng-click="insert(user)" class="btn btn-primary">Register</button>
     </div>
    </form>
    <h4>Already have an Account?</h4><a class="btn btn-success" href="#login">Login</a>
 </div>
